*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: #343a40;
  outline: none;
  border-radius: 10px;
}
caption {
  caption-side: top;
}
*:focus {
  outline: none !important;
}
.scroll {
  height: 70vh;
  overflow-y: auto;
}
/* distribucion equitativa */
.flex-equals {
  flex-direction: column;
}
.flex-equals > * {
  flex: 1 0 0;
  margin: 5% 0;
}
.flex-equals > :last-child {
  margin-top: 5%;
  margin-bottom: 0;
}
/* distribucion equitativa */
.w-content {
  width: fit-content;
}
.bg-orange {
  background-color: var(--orange) !important;
}
/* SIDEBAR */
.dropdown-menu {
  /* background-image: linear-gradient(
    to left,
    rgb(230, 224, 224),
    rgb(243, 243, 242)
  ); */
  background-color: rgb(253, 193, 7, 0.8);
  z-index: 2000;
  border-radius: 5px;
}
.dropdown-item:hover {
  background-color: #d7b853;
}
.graficos {
  width: 100vw;
  height: 80vh;
}
.img-logo {
  width: 150px;
  display: block;
  margin: auto;
}
.user-logo {
  color: #ffc107;
  background: black;
  border-radius: 55%;
  line-height: 0.7;
}
.btn-sidebar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.btn-sidebar i {
  display: flex;
  justify-content: center;
  width: 10%;
}
.list-group-item p {
  margin-bottom: 0;
}
.btn-collapse {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10vh;
  padding: 5px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -12rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}
.list-group-item {
  margin-right: 10px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
/* SIDEBAR */
/* MAIN CONTENT */
.table td,
.table th {
  vertical-align: middle;
}
.container-scroll {
  height: 90vh;
  overflow: auto;
}

#page-content-wrapper {
  min-width: 100vw;
}
#wrapper {
  overflow-x: hidden;
}
body {
  background-image: linear-gradient(
    to left,
    rgb(230, 224, 224),
    rgb(243, 243, 242)
  );
}
.navbar {
  background-image: linear-gradient(
    to left,
    rgb(230, 224, 224),
    rgb(243, 243, 242)
  );
}
.btn-black {
  background-color: #000 !important;
  color: #fff;
}
.btn:hover {
  color: #e9e5e5;
  text-decoration: none;
}
.modal-content {
  background-color: #eae6e6;
}
/* MAIN CONTENT */

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -12rem;
  }
  /* distribucion equitativa */
  .flex-equals {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .flex-equals > * {
    flex: none;
    margin: 2% 5%;
    min-width: 350px;
  }
  .flex-equals > :last-child {
    margin: 2% 5%;
  }
  .flex-equals > :only-child {
    flex: 0 0 50%;
    margin: auto;
  }
  /* distribucion equitativa */
}
